@keyframes check{
    from{
        width:0%
    }
    to{
        opacity:1;
        width:17.3%
    }
}
@keyframes check2{
    from{
        opacity:0;
        transform:rotateY(0)
    }
    to{
        opacity:1;
        transform:rotateY(360deg)
    }
}
@keyframes heart{
    0%{
        color:rgba(0,0,0,0);
        transform:scaleY(0);
        transform:scaleX(0)
    }
    15%{
        color:#ff79d910;
        transform:scaleY(0.15);
        transform:scaleX(0.15)
    }
    25%{
        color:#ff79d91f;
        transform:scaleY(0.25);
        transform:scaleX(0.25)
    }
    35%{
        color:#ff79d93b;
        transform:scaleY(0.35);
        transform:scaleX(0.35)
    }
    45%{
        color:#ff79d957;
        transform:scaleY(0.45);
        transform:scaleX(0.45)
    }
    55%{
        color:#ff79d973;
        transform:scaleY(0.55);
        transform:scaleX(0.55)
    }
    65%{
        color:#ff79d991;
        transform:scaleY(0.65);
        transform:scaleX(0.65)
    }
    75%{
        color:#ff79d9a9;
        transform:scaleY(0.75);
        transform:scaleX(0.75)
    }
    85%{
        color:#ff79d9c2;
        transform:scaleY(0.85);
        transform:scaleX(0.85)
    }
    95%{
        color:#ff79d9dc;
        transform:scaleY(0.95);
        transform:scaleX(0.95)
    }
    100%{
        color:#ff79da;
        transform:scaleY(1);
        transform:scaleX(1)
    }
}
@keyframes heart2{
    0%{
        color:#000;
        transform:scale(1.5, 1.5)
    }
    25%{
        color:#9256dc2d
    }
    50%{
        color:#9256dc56
    }
    75%{
        color:#9256dc96
    }
    100%{
        color:#9356dc
    }
}
@keyframes open-menu{
    from{
        visibility:hidden;
        opacity:0
    }
    to{
        visibility:visible;
        opacity:1
    }
}
@keyframes loader{
    from{
        opacity:1;
        visibility:visible
    }
    to{
        opacity:0;
        visibility:hidden
    }
}
@keyframes background-loader{
    0%{
        background:linear-gradient(0deg, rgba(146, 86, 220, 0.3) 0%, rgba(255, 121, 218, 0.3) 0%)
    }
    50%{
        background:linear-gradient(0deg, rgba(146, 86, 220, 0.3) 40%, rgba(255, 121, 218, 0.3) 50%)
    }
    100%{
        background:linear-gradient(0deg, rgba(146, 86, 220, 0.3) 80%, rgba(255, 121, 218, 0.3) 90%)
    }
}
@keyframes loader-stop{
    from{
        opacity:1;
        visibility:visible
    }
    to{
        opacity:0;
        visibility:hidden;
        width:0;
        height:0
    }
}
*{
    margin:0;
    padding:0;
    font-family:"Roboto",sans-serif
}
@media screen and (min-width: 1440px){
    *{
        font-size:1.05rem
    }
}
@media screen and (min-width: 2560px){
    *{
        font-size:1.2rem
    }
}
.main-block{
    width:100%
}
h1,h2,h3,h4,h5,h6{
    font-family:"Shrikhand",sans-serif
}
h1{
    font-size:1.72rem
}
@media screen and (min-width: 1440px){
    h1{
        font-size:1.82rem
    }
}
@media screen and (min-width: 2560px){
    h1{
        font-size:1.92rem
    }
}
h2{
    font-size:1.3rem
}
@media screen and (min-width: 1440px){
    h2{
        font-size:1.5rem
    }
}
@media screen and (min-width: 2560px){
    h2{
        font-size:1.7rem
    }
}
h3{
    font-size:1.2rem
}
@media screen and (min-width: 1440px){
    h3{
        font-size:1.4rem
    }
}
@media screen and (min-width: 2560px){
    h3{
        font-size:1.6rem
    }
}
h4{
    font-size:1.1rem
}
@media screen and (min-width: 1440px){
    h4{
        font-size:1.3rem
    }
}
@media screen and (min-width: 2560px){
    h4{
        font-size:1.5rem
    }
}
h5{
    font-size:1rem
}
@media screen and (min-width: 1440px){
    h5{
        font-size:1.2rem
    }
}
@media screen and (min-width: 2560px){
    h5{
        font-size:1.4rem
    }
}
a{
    text-decoration:none;
    color:#000
}
.header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:20px 20px 20px 20px;
    box-shadow:0px 10px 10px 0px rgba(0,0,0,.3);
    position:relative
}
.header img{
    max-height:34px;
    flex:2
}
@media screen and (min-width: 2560px){
    .header img{
        height:50px;
        max-height:50px
    }
}
.footer{
    padding:20px 20px 20px 20px;
    color:#fff;
    background-color:#353535
}
.footer h5{
    padding-bottom:20px
}
.footer ul{
    list-style:none
}
.footer li{
    margin-bottom:5px
}
.footer a{
    text-decoration:none;
    color:#fff
}
.footer .fas{
    margin-right:10px
}
.btn--main{
    width:218px;
    height:50px;
    border:none;
    color:#fff;
    border-radius:50px;
    background:linear-gradient(0deg, #9356DC 0%, #FF79DA 80%);
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.3);
    font-size:1rem
}
@media screen and (min-width: 1440px){
    .btn--main{
        font-size:1.05rem;
        width:240px;
        height:55px
    }
}
@media screen and (min-width: 2560px){
    .btn--main{
        font-size:1.2rem;
        width:280px;
        height:75px
    }
}
.btn--main:hover{
    cursor:pointer;
    background:linear-gradient(0deg, #a16be0 0%, #ff93e1 80%);
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.7)
}
.btn--plat{
    background-color:#fff;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.3);
    margin-top:14px;
    border-radius:10px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    max-height:58px
}
@media screen and (min-width: 2560px){
    .btn--plat{
        max-height:78px
    }
}
.btn--plat .price--plat{
    margin-left:auto;
    margin-right:0;
    flex-shrink:0
}
.btn--plat div{
    padding:10px;
    max-height:58px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
@media screen and (min-width: 2560px){
    .btn--plat div{
        max-height:78px
    }
}
.btn--plat .check--plat{
    position:absolute;
    z-index:-1;
    flex-shrink:0;
    text-align:center;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color:#99e2d0;
    padding:0;
    width:0%;
    height:58px
}
@media screen and (min-width: 2560px){
    .btn--plat .check--plat{
        height:78px
    }
}
.btn--plat .check--plat i{
    color:#fff;
    padding-top:20px;
    opacity:0
}
.btn--plat:hover{
    cursor:pointer
}
.btn--plat:hover .check--plat{
    position:relative;
    z-index:0;
    animation-name:check;
    animation-duration:.7s;
    animation-fill-mode:forwards;
    animation-delay:0s
}
.btn--plat:hover .check--plat i{
    padding-top:20px;
    animation-name:check2;
    animation-duration:1.7s;
    animation-delay:0s;
    animation-fill-mode:forwards
}
.card{
    position:relative;
    background-color:#fff;
    border-radius:10px;
    margin-bottom:18px;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.3)
}
@media screen and (min-width: 768px){
    .card{
        width:48%
    }
}
@media screen and (min-width: 1440px){
    .card{
        width:35%;
        margin:0 25px 50px 25px
    }
}
@media screen and (min-width: 2560px){
    .card{
        width:20%;
        margin:0 25px 50px 25px
    }
}
.card .new{
    position:absolute;
    padding:10px 26px;
    background-color:#99e2d0;
    top:12px;
    right:12px;
    z-index:1
}
.card--text{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch
}
.card--text h4{
    margin:18px 0 18px 12px
}
.card--text p{
    margin-left:12px;
    padding-bottom:18px
}
.card--text i{
    font-size:1.3rem
}
@media screen and (min-width: 1440px){
    .card--text i{
        font-size:1.5rem
    }
}
@media screen and (min-width: 2560px){
    .card--text i{
        font-size:1.7rem
    }
}
.card--text .fa-stack{
    vertical-align:top;
    padding:40px 12px 0 0
}
.card--text .state2{
    color:rgba(0,0,0,0)
}
.card--text .fa-stack:hover{
    cursor:pointer
}
.card--text .fa-stack:hover .state1{
    animation-name:heart2;
    animation-duration:.2s;
    animation-delay:.2s;
    animation-fill-mode:forwards
}
.card--text .fa-stack:hover .state2{
    animation-name:heart;
    animation-duration:.2s;
    animation-fill-mode:forwards
}
.card--theFullPalette{
    width:100%;
    height:174px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-image:url("/img/restaurants/the_full_palette.jpg");
    background-size:cover;
    background-position:center
}
.card--theEnchantedPlate{
    width:100%;
    height:174px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-image:url("/img/restaurants/the_enchanted_plate.jpg");
    background-size:cover;
    background-position:center
}
.card--bastille{
    width:100%;
    height:174px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-image:url("/img/restaurants/bastille.jpg");
    background-size:cover;
    background-position:center
}
.card--leGourmand{
    width:100%;
    height:174px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-image:url("/img/restaurants/le_gourmand.jpg");
    background-size:cover;
    background-position:center
}
hr{
    width:40px;
    height:3px;
    margin-top:6px;
    background-color:#99e2d0;
    border:none
}
.loader{
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    text-align:center;
    animation-name:background-loader,loader-stop;
    animation-delay:0s,2s;
    animation-duration:2s,.1ms;
    animation-fill-mode:forwards
}
.loader span{
    top:50%;
    font-size:2rem;
    animation-name:loader-stop;
    animation-duration:.1s;
    animation-delay:2s;
    animation-fill-mode:forwards
}
@media screen and (min-width: 1440px){
    .loader span{
        font-size:4rem
    }
}
.loader .loader--full{
    animation-name:loader;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-duration:.5s
}
.localisation__actual{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:16px 0;
    background-color:#eaeaea
}
@media screen and (min-width: 2560px){
    .localisation__actual{
        padding:25px
    }
}
.localisation__actual p{
    margin-left:18px
}
.localisation__selection{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    text-align:center;
    background-color:#f6f6f6;
    padding:30px 20px 30px 20px
}
.localisation__selection p{
    margin:30px auto
}
.how-it-works{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    padding:50px 20px 50px 20px
}
@media screen and (min-width: 768px){
    .how-it-works{
        padding:50px 25%;
        text-align:center
    }
}
@media screen and (min-width: 1024px){
    .how-it-works{
        padding:50px 30%
    }
}
@media screen and (min-width: 1440px){
    .how-it-works{
        padding:50px 35%
    }
}
@media screen and (min-width: 2560px){
    .how-it-works{
        padding:50px 40%
    }
}
.how-it-works__step1{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:20px 0;
    border-radius:20px;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.3);
    margin-top:22px
}
.how-it-works__step1:hover{
    background-color:#e4d5f6
}
.how-it-works__step1:hover .fas{
    color:#9356dc
}
.how-it-works__step2{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:20px 0;
    border-radius:20px;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.3);
    margin:22px 0
}
.how-it-works__step2:hover{
    background-color:#e4d5f6
}
.how-it-works__step2:hover .fas{
    color:#9356dc
}
.how-it-works__step3{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:20px 0;
    border-radius:20px;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,.3)
}
.how-it-works__step3:hover{
    background-color:#e4d5f6
}
.how-it-works__step3:hover .fas{
    color:#9356dc
}
.how-it-works .fas{
    margin:0 20px 0 0;
    padding-left:12px
}
.how-it-works p{
    padding:5.5px 9.2px;
    background-color:#9356dc;
    position:relative;
    left:-10px;
    border-radius:100%;
    color:#fff;
    font-size:10px
}
@media screen and (min-width: 2560px){
    .how-it-works p{
        font-size:1rem;
        padding:5.5px 12px
    }
}
.restaurants-list{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    padding:50px 20px 50px 20px;
    background-color:#f6f6f6
}
.restaurants-list__title{
    margin-bottom:24px
}
@media screen and (min-width: 1440px){
    .restaurants-list__title{
        margin-bottom:50px;
        align-self:center
    }
}
.restaurants-list img{
    display:none
}
@media screen and (min-width: 768px){
    .restaurants-list__cards{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:stretch;
        flex-wrap:wrap
    }
}
@media screen and (min-width: 1440px){
    .restaurants-list__cards{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:stretch;
        flex-wrap:wrap
    }
}
@media screen and (min-width: 2560px){
    .restaurants-list__cards{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:stretch;
        flex-wrap:wrap
    }
}
.header--menu{
    box-shadow:none
}
.menu{
    width:100%
}
.menu img{
    display:none
}
.menu .bastille{
    width:100%;
    height:246px;
    background-image:url("/img/restaurants/bastille.jpg");
    background-size:cover;
    background-position:center
}
.menu .gourmand{
    width:100%;
    height:246px;
    background-image:url("/imgrestaurants/le_gourmand.jpg");
    background-size:cover;
    background-position:center
}
.menu .full-palette{
    width:100%;
    height:246px;
    background-image:url("/img/restaurants/the_full_palette.jpg");
    background-size:cover;
    background-position:center
}
.menu .enchanted-plate{
    width:100%;
    height:246px;
    background-image:url("/img/restaurants/the_enchanted_plate.jpg");
    background-size:cover;
    background-position:center
}
.menu__carte{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    margin-top:-50px;
    padding:0 14px 80px 14px;
    background-color:#f6f6f6;
    border-top-left-radius:50px;
    border-top-right-radius:50px
}
@media screen and (min-width: 768px){
    .menu__carte{
        padding:0 25% 50px 25%
    }
}
@media screen and (min-width: 1440px){
    .menu__carte{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
        flex-wrap:wrap;
        padding:0 10px 50px 10px
    }
}
.menu__carte .fa-stack{
    vertical-align:top;
    padding:0
}
.menu__carte .state2{
    color:rgba(0,0,0,0)
}
.menu__carte .fa-stack:hover{
    cursor:pointer
}
.menu__carte .fa-stack:hover .state1{
    animation-name:heart2;
    animation-duration:.2s;
    animation-delay:.2s;
    animation-fill-mode:forwards
}
.menu__carte .fa-stack:hover .state2{
    animation-name:heart;
    animation-duration:.2s;
    animation-fill-mode:forwards
}
.menu__carte__entrees{
    visibility:hidden;
    opacity:0;
    animation-name:open-menu;
    animation-delay:.5s;
    animation-duration:1s;
    animation-fill-mode:forwards
}
@media screen and (min-width: 1440px){
    .menu__carte__entrees{
        width:31%
    }
}
.menu__carte__plats{
    visibility:hidden;
    opacity:0;
    animation-name:open-menu;
    animation-delay:1.5s;
    animation-duration:1s;
    animation-fill-mode:forwards
}
@media screen and (min-width: 1440px){
    .menu__carte__plats{
        width:31%
    }
}
.menu__carte__dessert{
    visibility:hidden;
    opacity:0;
    animation-name:open-menu;
    animation-delay:2.5s;
    animation-duration:1s;
    animation-fill-mode:forwards
}
@media screen and (min-width: 1440px){
    .menu__carte__dessert{
        width:31%
    }
}
.menu__carte .btn--main{
    margin-top:50px;
    align-self:center
}
.menu__carte__title{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top:36px
}
@media screen and (min-width: 1440px){
    .menu__carte__title{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center
    }
    .menu__carte__title h1{
        margin-right:40px
    }
}
.menu__carte i{
    font-size:1.4rem
}
@media screen and (min-width: 1440px){
    .menu__carte i{
        font-size:1.6rem
    }
}
.menu__carte p{
    margin-top:45px;
    text-transform:uppercase
}
/*# sourceMappingURL=style.css.map */
