.card{
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 18px;
    box-shadow: $block-shadow;
    @include medium-size{
        width: 48%;
    }
    @include xlarge-size{
        width: 35%;
        margin: 0 25px 50px 25px;
    }
    @include xxlarge-size{
        width: 20%;
        margin: 0 25px 50px 25px;
    }
    & .new{
        position: absolute;
        padding: 10px 26px;
        background-color: $color-tertiary;
        top: 12px;
        right: 12px;
        z-index: 1;
    }
    &--text{
        @include general-flex(row, space-between);
        & h4{
            margin: 18px 0 18px 12px;
        }
        & p{
            margin-left: 12px;
            padding-bottom: 18px;
        }
        & i{
            font-size: 1.3rem;
            @include xlarge-size{
                font-size: 1.5rem;
            }
            @include xxlarge-size{
                font-size: 1.7rem;
            }
        }
        & .fa-stack{
            vertical-align: top;
            padding: 40px 12px 0 0;
        }
        & .state2{
            color: rgba(0, 0, 0, 0);
        }
        & .fa-stack:hover{
            @include heart-hover;
        }  
    }
    &--theFullPalette{
        @include card(url('../images/restaurants/the_full_palette.jpg'));
    }
    &--theEnchantedPlate{
        @include card(url('../images/restaurants/the_enchanted_plate.jpg'));
    }
    &--bastille{
        @include card(url('../images/restaurants/bastille.jpg'));
    }
    &--leGourmand{
        @include card(url('../images/restaurants/le_gourmand.jpg'));
    }
}
