.header--menu{
    box-shadow: none;
}
.menu{
    width: 100%;
    & img{
        display: none;
    }
    & .bastille{
        @include menus-image(url("/img/restaurants/bastille.jpg"));
    }
    & .gourmand{
        @include menus-image(url("/img/restaurants/le_gourmand.jpg"));
    }
    & .full-palette{
        @include menus-image(url("/img/restaurants/the_full_palette.jpg"));
    }
    & .enchanted-plate{
        @include menus-image(url("/img/restaurants/the_enchanted_plate.jpg"));
    }
    &__carte{
        @include general-flex(column);
        margin-top: -50px;
        padding: 0 14px 80px 14px;
        background-color: $grey-background;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        @include medium-size{
            padding: 0 25% 50px 25%;
        }
        @include xlarge-size{
            @include general-flex(row, space-evenly, center);
            flex-wrap: wrap;
            padding: 0 10px 50px 10px;
        }
        & .fa-stack{
            vertical-align: top;
            padding: 0;
        }
        & .state2{
            color: rgba(0, 0, 0, 0);
        }
        & .fa-stack:hover{
            @include heart-hover;
        }  
        &__entrees{
            @include btn-plats-anim(0.5s);
            @include xlarge-size{
                width: 31%;
            }
        }
        &__plats{
            @include btn-plats-anim(1.5s);
            @include xlarge-size{
                width: 31%;
            }
        }
        &__dessert{
            @include btn-plats-anim(2.5s);
            @include xlarge-size{
                width: 31%;
            }
        }
        & .btn--main{
            margin-top: 50px;
            align-self: center;
        }
        &__title{
            @include general-flex(row, space-between, center);
            padding-top: 36px;
            @include xlarge-size{
                width: 100%;
                @include general-flex(row, center, center);
                h1{
                    margin-right: 40px;
                }
            }
        }
        & i{
            font-size: 1.4rem;
            @include xlarge-size{
                font-size: 1.6rem;
            }
        }
        & p{
            margin-top: 45px;
            text-transform: uppercase;
        }
    }
}